resources:
- name: ams-origin-template
  type: compute.v1.instanceTemplate
  properties:
    properties:
      zone: {{ properties["zone"] }}
      machineType: {{ properties["origin_machine_type"] }}
      metadata:
        items:
        - key: startup-script
          value: |-
            #!/bin/bash
            rm -rf /usr/local/antmedia/conf/instanceId
            rm -rf /usr/local/antmedia/*.db.*
            rm -rf /usr/local/antmedia/*.db
            cd /usr/local/antmedia
            ./change_server_mode.sh cluster $(ref.{{ env["deployment"] }}-mongodb.networkInterfaces[0].networkIP)
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: projects/{{ env["project"] }}/global/images/ams-marketplace282
      networkInterfaces:
      - network: $(ref.antmedia-vpc-network.selfLink)
        subnetwork: $(ref.origin-subnet.selfLink)
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      tags:
        items:
        - antmedia
- name: ams-edge-template
  type: compute.v1.instanceTemplate
  properties:
    properties:
      zone: {{ properties["zone"] }}
      machineType: {{ properties["edge_machine_type"] }}
      metadata:
        items:
        - key: startup-script
          value: |-
            #!/bin/bash
            rm -rf /usr/local/antmedia/conf/instanceId
            rm -rf /usr/local/antmedia/*.db.*
            rm -rf /usr/local/antmedia/*.db
            cd /usr/local/antmedia
            ./change_server_mode.sh cluster $(ref.{{ env["deployment"] }}-mongodb.networkInterfaces[0].networkIP)
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: projects/{{ env["project"] }}/global/images/ams-marketplace282
      networkInterfaces:
      - network: $(ref.antmedia-vpc-network.selfLink)
        subnetwork: $(ref.edge-subnet.selfLink)
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      tags:
        items:
        - antmedia
